// Colors
$mainColor: #323264;
$main-altColor: #46466e;
$main-softColor: #686887;
$accentColor: #f0145a;
$activeRegular: #24a3ff;
$activeHover: #0085ff;
$activeActive: #006ccf;
$greyBg: #f5f5fa;
$greyBgAlt: #ededf7;
$greyText: #b3b3ba;
$greySeparator: #e6e6f0;
// Gradient
$regularGradient: linear-gradient(#323264, 0% #323264, 73.96% #a54b5f, 100%);
$softGradient: linear-gradient(#323264, 0% #323264, 50.63% #7a425e, 100%);
