@use "../base/variables" as var;
@use "../loyout/container" as cont;
@use "../base/mixins" as mix;
.main-content {
    margin: 0;
    padding: 0;
}
.main {
    background: var.$superSoftGradient;
    &__wrapper {
        position: relative;
        width: 100%;
        max-height: 884px;
    }
    &__title {
        position: absolute;
        top: 361px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 38px;
        line-height: 121%;
        color: var.$colorWhite;
        z-index: 10;
    }
    &__background {
        position: relative;
        top: -115px;
        display: block;
        max-width: 872px;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }
}
.excellence {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 30px;
        max-width: 580px;
        padding-right: 60px;
    }
    &__button {
        font-size: 38px;
        line-height: 121%;
        color: var.$greyText;
        background-color: transparent;
        transition: all 0.3s ease;
        &_active {
            color: transparent;
            background-clip: text;
            background-image: var.$superRedText;
        }
        &:hover {
            color: transparent;
            background-clip: text;
            background-image: var.$superRedText;
        }
    }
    &__content {
        padding-top: 43px;
        padding-left: 60px;
        border-left: 4px solid var.$colorWhiteAlfa;
    }
    &__title {
        font-size: 30px;
        line-height: 120%;
        color: var.$colorWhite;
    }
    &__text {
        max-width: 861px;
        margin-top: 30px;
        font-size: 19px;
        color: var.$colorWhite;
    }
}
