@use "../base/variables" as var;
@use "../loyout/container" as cont;
@use "../base/mixins" as mix;
/*Services*/
.services-hero {
  position: relative;
  background: var.$superSoftGradient;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
  &::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    transform: translateY(100%);
    height: 10px;
    border-radius: 0px 0px 12px 12px;
    background-color: var.$greyBlur;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    right: 40px;
    bottom: 0;
    left: 40px;
    transform: translateY(200%);
    height: 10px;
    border-radius: 0px 0px 12px 12px;
    background-color: var.$greyBright;
    z-index: 1;
  }
}
.services {
  &__link {
    @include mix.blue-link;
  }
  &__title {
    margin-top: 10px;
    @include mix.red-title;
  }
  &__cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, minmax(197px, 493px));
    gap: 60px;
  }
}
.card {
  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 92px;
    border-radius: 24px;
    background-color: var.$colorWhite;
  }
  &__title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 130%;
    color: var.$activeRegular;
  }
  &__link {
    font-size: 20px;
    line-height: 130%;
    color: var.$activeRegular;
    transition: color 0.3s ease;
    &:hover {
      color: var.$accentColor;
    }
  }
  &__text {
    margin-top: 15px;
    max-width: 492px;
    font-size: 16px;
    line-height: 26px;
    color: var.$colorWhite;
  }
}
@include mix.devices(tablet-SHD) {
  .services__cards {
    grid-template-columns: repeat(2, minmax(197px, 493px));
  }
}
@include mix.devices(tablet-mobile) {
  .services__cards {
    grid-template-columns: minmax(197px, 493px);
  }
  .services {
    &__title {
      font-size: 30px;
    }
    &__cards {
      margin-top: 30px;
      gap: 30px;
    }
  }
  .services-hero {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
