@use "../base/variables" as var;
@use "../loyout/container" as cont;
@use "../base/mixins" as mix;

/* Team block*/
.home-page__team {
  padding-top: 80px;
  padding-bottom: 60px;
}

.team {
  &__content {
    display: grid;
    grid-template-columns: max-content minmax(444px, 1200px);
    border-radius: 12px;
    overflow: hidden;
  }
  &__author-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__img-wrapper {
    max-width: 400px;
    min-height: 298px;
  }

  &__info {
    padding: 30px;
    background-color: var.$greyBg;
  }
  &__link {
    @include mix.blue-link;
  }

  &__figure {
    margin-top: 5px;
  }
  &__quote {
    max-width: 1140px;
    font-weight: var.$fontWeightBold;
    @include mix.red-title;
  }
  &__figcaption {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
  &__author {
    display: block;

    font-weight: var.$fontWeightBold;
    font-size: 16px;
    line-height: 20px;
    color: var.$greyText;
  }
  &__position {
    font-weight: var.$fontWeightRegular;
    font-size: 14px;
    line-height: 157%;
    color: var.$greyText;
  }
  &__tab {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  /* Team section*/
  &__hero {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var.$colorWhite;
  }
  &__title {
    @include mix.red-title;
  }
  &__cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, minmax(261px, 493px));
    grid-template-rows: repeat(2, 462px);
    gap: 60px;
  }
}
.slider {
  &__item {
    display: none;
  }
}

.card {
  &__mate-img {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    object-fit: cover;
  }
  &__caption {
    margin-top: 15px;
  }

  &__mate-details {
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    &:hover {
      .card__teammate-name {
        color: var.$accentColor;
      }
      .card__more-btn {
        stroke: var.$accentColor;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__position {
    font-weight: var.$fontWeightRegular;
    font-size: 14px;
    line-height: 157%;
    color: var.$greyText;
  }
  &__teammate-name {
    font-weight: var.$fontWeightBold;
    font-size: 16px;
    line-height: 125%;
    color: var.$mainColor;
  }
}

.tab {
  &__buttons {
    display: flex;
    column-gap: 15px;
  }
  &__button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var.$activeRegular;
    opacity: 0.2;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
    &_active {
      background: var.$activeRegular;
      opacity: 1;
      &:hover {
        opacity: 1;
      }
    }
  }
}
@include mix.devices(tabletHD) {
  .team {
    &__cards {
      grid-template-columns: repeat(2, minmax(261px, 493px));
      grid-template-rows: repeat(3, 462px);
    }
  }
}
@include mix.devices(tabletXS-HD) {
  .team {
    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: 500px;
    }
    &__img-wrapper {
      max-width: 100%;
      min-height: 500px;
    }
    &__tab {
      grid-row: 3/4;
    }
    &__info {
      grid-row: 2/3;
    }
  }
}
@include mix.devices(tabletSSD) {
  .team {
    &__hero {
      padding-top: 30px;
    }
    &__title {
      font-size: 30px;
    }
    &__cards {
      grid-template-columns: minmax(261px, 493px);
      justify-content: center;
      gap: 30px;
    }
  }
}
@include mix.devices(mobileHD) {
  .card {
    &__mate-img {
      height: 315px;
    }
  }
  .team {
    &__cards {
      grid-template-rows: repeat(6, 362px);
    }
  }
}
@include mix.devices(tablet-mobile) {
  .team {
    &__quote {
      font-size: 30px;
      word-break: break-word;
    }
  }
}
