@use "../base/variables" as var;
@use "../loyout/container" as cont;
@use "../base/mixins" as mix;
.trust {
  &__section {
    padding-bottom: 60px;
  }
  &__title {
    font-size: 14px;
    line-height: 121%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: var.$mainColor;
  }
  &__companies {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 120px);
    grid-auto-rows: 120px;
    border-radius: 12px;
    overflow: hidden;
  }
  &__company {
    display: flex;
    justify-content: center;
    align-items: center;
    &_hillel {
      background-color: var.$hillel;
    }
    &_wannabiz {
      background-color: var.$wannabiz;
    }
    &_tapgerine {
      background-color: var.$tapgerine;
    }
    &_3dlook {
      background-color: var.$dlook;
    }
    &_orangear {
      background-color: var.$orangear;
    }
    &_adtelligent {
      background-color: var.$adtelligent;
    }
    &_clickky {
      background-color: var.$clickky;
    }
    &_eco {
      background-color: var.$eco;
    }
    &_ingratek {
      background-color: var.$ingratek;
    }
    &_city {
      background-color: var.$city;
    }
    &_artprint {
      background-color: var.$artprint;
    }
    &_ultimate {
      background-color: var.$ultimate;
    }
  }
}
@include mix.devices(desktopSD) {
  .trust {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    &__companies {
      border-radius: unset;
    }
  }
}
@include mix.devices(tablet-SHD) {
  .trust {
    &__companies {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@include mix.devices(tabletSSD) {
  .trust {
    &__companies {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@include mix.devices(tablet-mobile) {
  .trust {
    &__companies {
      grid-template-columns: 1fr;
    }
  }
}
