@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/montserrat-latin-regular.woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Montserrat-Regular.woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/montserrat-latin-bold.woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/Montserrat-Bold.woff");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.container {
  --global-padding: 100px;
  max-width: 1760px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--global-padding);
  padding-right: var(--global-padding);
}
@media only screen and (max-width: 1440px) {
  .container {
    --global-padding: 60px;
    max-width: 1360px;
  }
}
@media only screen and (max-width: 1023px) {
  .container {
    --global-padding: 60px;
    max-width: 1024px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    --global-padding: 60px;
    max-width: 768px;
  }
}
@media only screen and (max-width: 610px) {
  .container {
    --global-padding: 30px;
    max-width: 768px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    --global-padding: 30px;
    max-width: 375px;
  }
}

.header {
  padding-top: 50px;
  padding-bottom: 5px;
}
.header-dark {
  background-color: #323264;
}
.header-bright {
  background-color: #fff;
}
.header__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 210px 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.header .logo__link {
  grid-row: 1/3;
}
.header .logo__img {
  max-width: 100%;
}
.header .logo__img_contact {
  max-width: 297px;
}
.header .logo__img_about-us {
  max-width: 318px;
}
.header .logo__img_services {
  max-width: 302px;
}
.header .logo__img_team {
  max-width: 254px;
}
.header .logo__img_publications {
  max-width: 382px;
}
.header__burger {
  display: none;
}
.header__burger .burger__line {
  width: 18px;
  height: 2px;
  background-color: #fff;
}
.header__burger .burger__line_bright {
  background-color: #323264;
}
.header__info {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
  z-index: 5;
}
.header__langs {
  display: flex;
  align-items: center;
  -moz-column-gap: 1px;
       column-gap: 1px;
}
.header__lang {
  font-size: 12px;
  line-height: 125%;
  padding: 5px 7px;
  font-weight: 700;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.header__lang_dark {
  color: #fff;
}
.header__lang_dark:hover {
  background-color: rgba(255, 255, 255, 0.2039215686);
}
.header__lang_bright {
  color: #b3b3ba;
}
.header__lang_bright:hover {
  background-color: #f5f5fa;
}
.header__lang_active {
  padding: 5px 7px;
  background-color: #f0145a;
  border-radius: 8px;
  color: #fff;
}
.header__lang_active:hover {
  background-color: #f0145a;
}
.header__address {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-size: 16px;
  line-height: 125%;
  font-weight: 400;
  color: #fff;
}
.header__address::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.header__address_bright {
  color: #b3b3ba;
}
.header__address_bright::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e6e6f0;
}
.header__telnumber {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  color: #fff;
}
.header__telnumber::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.header__telnumber_bright {
  color: #b3b3ba;
}
.header__telnumber_bright::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e6e6f0;
}
.header__facebook-link {
  position: relative;
  display: inline-block;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.header__facebook-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.header__facebook-link:hover {
  color: #f0145a;
}
.header__facebook-link_bright {
  color: #b3b3ba;
}
.header__facebook-link_bright::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e6e6f0;
}
.header__nav {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 5;
}
.header .nav__list {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.header .nav__link {
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease;
}
.header .nav__link_dark {
  color: #fff;
}
.header .nav__link_dark:hover {
  border-bottom: 2px solid #fff;
}
.header .nav__link_bright {
  color: #24a3ff;
}
.header .nav__link_bright:hover {
  border-bottom: 2px solid #24a3ff;
}
.header .nav__link_current {
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
}

@media only screen and (max-width: 1023px) {
  .publications__header .big-logo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr -webkit-max-content 1fr;
    grid-template-rows: 1fr max-content 1fr;
    row-gap: 30px;
  }
  .publications__header .logo__link {
    grid-row: 2/3;
  }
  .publications__header .logo__img {
    position: relative;
    z-index: 5;
  }
  .publications__header .logo__img_contact {
    max-width: 297px;
  }
  .publications__header .header__info {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-content: flex-start;
  }
  .publications__header .nav {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 940px) {
  .header-long .big-logo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr -webkit-max-content 1fr;
    grid-template-rows: 1fr max-content 1fr;
    row-gap: 30px;
  }
  .header-long .logo__link {
    grid-row: 2/3;
  }
  .header-long .logo__img {
    position: relative;
    z-index: 5;
  }
  .header-long .logo__img_contact {
    max-width: 297px;
  }
  .header-long .header__info {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-content: flex-start;
  }
  .header-long .nav {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 830px) {
  .header__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr -webkit-max-content 1fr;
    grid-template-rows: 1fr max-content 1fr;
    row-gap: 30px;
  }
  .header .logo__link {
    grid-row: 2/3;
  }
  .header .logo__img {
    position: relative;
    z-index: 5;
  }
  .header .logo__img_contact {
    max-width: 297px;
  }
  .header__info {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-content: flex-start;
  }
  .header__nav {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 610px) {
  .header {
    padding-top: 0;
  }
  .header .big-logo {
    grid-template-rows: 1fr -webkit-max-content;
    grid-template-rows: 1fr max-content;
    row-gap: 15px;
  }
  .header__wrapper {
    grid-template-rows: 1fr -webkit-max-content;
    grid-template-rows: 1fr max-content;
    row-gap: 15px;
  }
  .header .header__info {
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 250, 0.2);
  }
  .header .header__info_bright {
    background-color: #f5f5fa;
  }
  .header .logo__link {
    margin-left: 15px;
    margin-right: auto;
  }
  .header .logo__img {
    position: relative;
    max-width: 70px;
  }
  .header .logo__img_contact {
    max-width: 166px;
  }
  .header .logo__img_about-us {
    max-width: 177px;
  }
  .header .logo__img_services {
    max-width: 169px;
  }
  .header .logo__img_team {
    max-width: 142px;
  }
  .header .logo__img_publications {
    max-width: 212px;
  }
  .header__burger {
    margin-right: 15px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .header__burger:hover {
    background-color: #686887;
  }
  .header__burger_bright {
    transition: background-color 0.3s ease;
  }
  .header__burger_bright:hover {
    background-color: #e6e6f0;
  }
  .header__nav {
    display: none;
  }
  .header__address {
    display: none;
  }
  .header__telnumber::before {
    display: none;
  }
  .header__facebook-link {
    display: none;
  }
  .header__facebook-link::before {
    display: none;
  }
  .header__background {
    max-width: 523px;
  }
  .header .container {
    padding-left: 0;
    padding-right: 0;
  }
}
/* Team block*/
.home-page__team {
  padding-top: 80px;
  padding-bottom: 60px;
}

.team {
  /* Team section*/
}
.team__content {
  display: grid;
  grid-template-columns: -webkit-max-content minmax(444px, 1200px);
  grid-template-columns: max-content minmax(444px, 1200px);
  border-radius: 12px;
  overflow: hidden;
}
.team__author-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__img-wrapper {
  max-width: 400px;
  min-height: 298px;
}
.team__info {
  padding: 30px;
  background-color: #f5f5fa;
}
.team__link {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  color: #24a3ff;
  transition: all 0.3s ease;
}
.team__link::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(50%) rotate(225deg);
  display: inline-block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #24a3ff;
  border-bottom: 2px solid #24a3ff;
  transition: all 0.3s ease;
}
.team__link:hover {
  color: #f0145a;
}
.team__link:hover::after {
  transform: translateY(-50%) translateX(50%) rotate(225deg);
  border-left: 2px solid #f0145a;
  border-bottom: 2px solid #f0145a;
}
.team__figure {
  margin-top: 5px;
}
.team__quote {
  max-width: 1140px;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.team__figcaption {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.team__author {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b3b3ba;
}
.team__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #b3b3ba;
}
.team__tab {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.team__hero {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}
.team__title {
  font-size: 38px;
  line-height: 120%;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.team__cards {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, minmax(261px, 493px));
  grid-template-rows: repeat(2, 462px);
  gap: 60px;
}

.slider__item {
  display: none;
}

.card__mate-img {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__caption {
  margin-top: 15px;
}
.card__mate-details {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.card__mate-details:hover .card__teammate-name {
  color: #f0145a;
}
.card__mate-details:hover .card__more-btn {
  stroke: #f0145a;
}
.card__info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.card__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #b3b3ba;
}
.card__teammate-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #323264;
}

.tab__buttons {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.tab__button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #24a3ff;
  opacity: 0.2;
  transition: all 0.3s ease;
}
.tab__button:hover {
  opacity: 0.6;
}
.tab__button_active {
  background: #24a3ff;
  opacity: 1;
}
.tab__button_active:hover {
  opacity: 1;
}

@media only screen and (max-width: 1023px) {
  .team__cards {
    grid-template-columns: repeat(2, minmax(261px, 493px));
    grid-template-rows: repeat(3, 462px);
  }
}
@media only screen and (max-width: 940px) {
  .team__content {
    grid-template-columns: 1fr;
    grid-template-rows: 500px;
  }
  .team__img-wrapper {
    max-width: 100%;
    min-height: 500px;
  }
  .team__tab {
    grid-row: 3/4;
  }
  .team__info {
    grid-row: 2/3;
  }
}
@media only screen and (max-width: 705px) {
  .team__hero {
    padding-top: 30px;
  }
  .team__title {
    font-size: 30px;
  }
  .team__cards {
    grid-template-columns: minmax(261px, 493px);
    justify-content: center;
    gap: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .card__mate-img {
    height: 315px;
  }

  .team__cards {
    grid-template-rows: repeat(6, 362px);
  }
}
@media only screen and (max-width: 610px) {
  .team__quote {
    font-size: 30px;
    word-break: break-word;
  }
}
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5fa;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  row-gap: 21px;
}
.footer .address {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 26px;
       column-gap: 26px;
}
.footer .address__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #323264;
}
.footer .address__link {
  position: relative;
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  transition: color 0.3s ease;
}
.footer .address__link:hover {
  color: #f0145a;
}
.footer .address__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -13px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b3b3ba;
}
.footer__copy {
  justify-self: end;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #b3b3ba;
}
.footer__social {
  display: flex;
  align-items: center;
  -moz-column-gap: 26px;
       column-gap: 26px;
}
.footer__facebook-link {
  color: #24a3ff;
  transition: all 0.3s ease-in-out;
}
.footer__facebook-link:hover {
  color: #f0145a;
}
.footer__telnumber {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #323264;
}
.footer__telnumber::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -13px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b3b3ba;
}
.footer__email {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #24a3ff;
  transition: color 0.3s ease;
}
.footer__email::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -13px;
  transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b3b3ba;
}
.footer__email:hover {
  color: #f0145a;
}

@media only screen and (max-width: 999px) {
  .footer__wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .footer__social {
    grid-row: 2/3;
    justify-content: center;
  }
  .footer__copy {
    justify-self: center;
    grid-row: 3/4;
  }
  .footer .address {
    justify-self: center;
  }
}
@media only screen and (max-width: 610px) {
  .footer__social {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    row-gap: 10px;
  }
  .footer .address {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}/*# sourceMappingURL=team.css.map */