// Colors
$colorWhite: #fff;
$colorBlack: #000;
$colorWhiteAlfa: #ffffff4d;
$mainColor: #323264;
$main-altColor: #46466e;
$main-softColor: #686887;
$accentColor: #f0145a;
$activeRegular: #24a3ff;
$activeRegularAlfa: #24a3ff80;
$activeHover: #0085ff;
$activeActive: #006ccf;
$greyBg: #f5f5fa;
$greyBgAlfa: #f5f5fa33;
$greyBgAlt: #ededf7;
$greyText: #b3b3ba;
$greySeparator: #e6e6f0;
$greyBlur: #cacadb;
$greyBright: #e7e7f2;
$invalid: #ff0000;
// Trust companies bgc
$hillel: #1c4280;
$wannabiz: #143646;
$tapgerine: #f48b30;
$dlook: #9e4dc3;
$orangear: #fd9339;
$adtelligent: #e2e2e4;
$clickky: #c71c36;
$eco: #dcf3f9;
$ingratek: #eaeaea;
$city: #282240;
$artprint: #1d4568;
$ultimate: #000000;

// Gradient
$regularGradient: linear-gradient(
  to bottom right,
  #323264 73.96%,
  #a54b5f 100%
);
$softGradient: linear-gradient(to top right, #323264 50.63%, #7a425e 100%);
$redGradient: linear-gradient(to bottom right, #f0145a 0%, #693264 100%);
$superSoftGradient: linear-gradient(
  to bottom left,
  #323264 59.9%,
  #643e72 100%
);
$superRedText: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
$superRedTextReversed: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
// loyout
// screens
$desktopHD: 1920px;
$desktopHD-SD: 1590px;
$desktopSD: 1440px;
$desktop-tablet: 1210px;
$tabletHD: 1024px;
$tabletSHD: 999px;
$tabletXS-HD: 940px;
$tabletHD-SD: 830px;
$tabletSD: 768px;
$tabletSSD: 705px;
$tablet-mobile: 610px;
$mobile: 375px;
// container
$containerDesktopHD: 1760px;
$containerDesktopSD: 1360px;
$containerTabletHD: 1024px;
$containerTabletSD: 768px;
$containerMobile: 375px;
// Fonts
$paragraphFontSize: 16px;
$fontWeightBold: 700;
$fontWeightRegular: 400;
$fourteen: 14px;
$paragraphFontSize: 16px;
